.india{
    overflow: hidden;
}

.indiabanner{
    background-image: url("/src/assestes/indiabanner.webp");
    background-size: cover;
    background-attachment: fixed;
    height: 500px;

}
.suizimg{
    height: 500px;
    width: 100%;
    padding: 0px 60px;
    margin-left: 20px;
    border-radius: 20px;
    
}
.indiaimg{
    width: 100%;
    height: 350px;
}