.maldiv{
    overflow: hidden;
}

.maldivbanner{
    background-image: url("/src/assestes/maldivbanner.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 500px;

}
.suizimg{
    height: 600px;
    width: 100%;
    padding: 0px 60px;
    margin-left: 20px;
    border-radius: 20px;
    
}
.bookingform{
    width: 120px;
}