.suiz{
    overflow: hidden;
}

.suizewlandbanner{
    background-image: url("/src/assestes/suizerland\ banner.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 500px;

}
.suizimg{
    height: 500px;
    width: 100%;
    padding: 0px 60px;
    margin-left: 20px;
    border-radius: 20px;
    
}
.switzerlandimg{
    height: 400px;
    width: 100%;
}